body {
    margin: 0;
    padding: 0;
  }

  /* Header */

  header{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  header a.logo{
      width: 20%;
  }

  header a.logo img{
      width: 100%;
  }


  header ul{
    display: flex;
    flex-direction: row;
  }

  header ul li{
    list-style: none;
    font-family: 'Futura';
    font-weight: bold;
    margin-left: 50%;
    font-size: 80%;
  }

  header ul li a{
    text-decoration: none;
    color: black;
  }

  header a.kickstarter img{
    width: 40%;
    height: 60%;
  }

/* Body */

div.characteristics{
  width: 100%;
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.characteristics span{
  color: black;
}

div.characteristics div.characteristicsLeft{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 7%
}

div.characteristics div.line{
  width: 100%;
  height: 20%;
}

div.characteristics div.tentImage{
  width: 30%;
}

div.characteristics div.tentImage img#tent{
  width: 100%;
  height: 90%;
}

div.characteristics div.characteristicsRight{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 7%;
}

div.characteristics div.characteristicsLeft div.line{
  display: flex;
  flex-direction: row;
}

div.characteristics div.characteristicsLeft div.line span{
  margin-left: 5%;
}

div.characteristics div.characteristicsRight div.line span{
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

div.characteristics span{
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  border-bottom: solid black 1px;
  height: 50%;
}

div.characteristics div.characteristicsRight div.line{
  display: flex;
  justify-content: flex-end;
}

div.characteristics div.line img{
  width: 60px;
  height: 60px;
}

/* liste */

div.tentImage h3{
  color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


ul.colors{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin-top: 80px;
}

ul.colors li{
  color: black;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

ul.colors li img{
  width: 40px;
  height: 40px;
  margin-left: 10%;
}

li.current{
  border: thin solid #2980b9;
}

/* Explanation */

div.explanation{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10% 0;
}

div.explanation div.line{
  display: flex;
  flex-direction: row;
  margin: 4% 3% 0% 3%;
}

div.explanation div.line1{
  margin-top: 12%;
}

div.explanation div.line p{
  color: black;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 25px;
}

div.explanation div.line img{
  width: 60px;
  height: 60px;
  margin-top: 2%;
}

div.explanationLeft{
  width: 40%
}

div.explanationRight{
  width: 40%
}

/* footer */

footer{
display: flex;
flex-direction: row;
justify-content: space-between;
background: white;
font-family: 'Montserrat', sans-serif;
}

div.logo{
display: flex;
flex-direction: row;
align-items: center;
margin-left: 7%
}

div.logo img{
width: 65px;
height: 50px;
}

div.logo img.pinterest{
width: 50px;
height: 50px;
}

footer a.logo-footer{
margin: 10px 10px 20px 0px;
margin-right: 7%;
}

img.logo-footer{
width: 200px;
height: 90px;
}

div.footer{
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
}

div.footer a{
text-decoration: none;
}

/* Responsive */

@media screen and (min-width: 640px) and (max-width: 940px){
  div.explanation{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
  div.explanationLeft{
    width: 90%;
  }
  div.explanationRight{
    width: 90%;
  }
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div.logo{
    max-width: none;
    margin: 7% 0%;
  }
  header a.logo img{
    width: 200%;
  }
  header ul li{
    margin-left: 5%;
    font-size: 80%;
  }
  header a.kickstarter img{
    width: 55%;
  }
  header a.kickstarter{
    width: 120px;
    padding:0;
  }
}

@media screen and (max-width: 760px){
  div.characteristics div.characteristicsLeft{
    width: 0%;
    visibility: hidden;
  }
  div.characteristics div.characteristicsRight{
    width: 0%;
    visibility: hidden;
  }
  div.characteristics div.tentImage{
    width: 90%;
  }
  div.explanation{
    display: flex;
    flex-direction: column;
    margin-top: 30%;
  }
  div.explanationLeft{
    width: 90%;
  }
  div.explanationRight{
    width: 90%;
  }
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div.logo{
    max-width: none;
    margin: 7% 0%;
  }
  div.footer{
    margin: 0% 3%;
  }
  header ul li{
    margin-left: 5%;
    font-size: 50%;
  }
  header a.kickstarter img{
    width: 55%;
  }
  header a.kickstarter{
    width: 60px;
    padding:0;
  }
  header a.logo img{
    width: 200%;
  }
}
