* {
    margin: 0;
    padding: 0;

  }


/* Header */

header{
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header a.logo{
    width: 20%;
}

header a.logo img{
    width: 100%;
}

header ul{
  display: flex;
  flex-direction: row;
}

header ul li{
  list-style: none;
  font-family: 'Futura';
  font-weight: bold;
  margin-left: 50%;
}

header ul li a{
  text-decoration: none;
  color: black;
}

header a.kickstarter img{
  width: 40%;
}

/* body */

html, body{
    height: 100%;
}


.title{
  position: absolute;
  font-family: 'Futura';
  font-size: 4rem;
  color: white;
  margin: 20%;
  margin-left: 27%;
  z-index: 20;
}

.home{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}
.cache{
    position: relative;
    width: 100%;
    height: 85%;
}

.décor{
    width: 100%;
    height:100%;
}

/*Decor1*/

div.decor1{
  background-image: url("../images/décor3.png");
  width: 100%;
  height: 100%;
}

div.decor1 div.bigTxt{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

div.decor1 div.bigTxt div.line{
  width: 70%;
  border-top: 8px solid white;
  margin-top: 10%;
}

div.decor1 div.bigTxt span{
  font-size: 600%;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

div.decor1 div.smallTxt{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 65%;
  margin-top: 23%;
}

div.decor1 div.smallTxt div.line{
  width: 85%;
  border-top: 8px solid white;
  margin-top: 5%;
}

div.decor1 div.smallTxt span{
  font-size: 150%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

/*Décor 2*/

div.decor2{
  background-image: url("../images/photo2+.jpg");
  width: 100%;
  height: 100%;
}

div.decor2 div.bigTxt{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

div.decor2 div.bigTxt div.line{
  width: 70%;
  border-top: 8px solid white;
  margin-top: 15%;
}

div.decor2 div.bigTxt span{
  font-size: 600%;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

div.decor2 div.smallTxt{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 65%;
  margin-top: 28%;
}

div.decor2 div.smallTxt div.line{
  width: 85%;
  border-top: 8px solid white;
  margin-top: 5%;
}

div.decor2 div.smallTxt span{
  font-size: 150%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

/*Décor 3*/

div.decor3{
  background-image: url("../images/photo3+.png");
  width: 100%;
  height: 100%;
}

div.decor3 div.bigTxt{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

div.decor3 div.bigTxt div.line{
  width: 70%;
  border-top: 8px solid white;
  margin-top: 15%;
}

div.decor3 div.bigTxt span{
  font-size: 600%;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

div.decor3 div.smallTxt{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 65%;
  margin-top: 25%;
}

div.decor3 div.smallTxt div.line{
  width: 85%;
  border-top: 8px solid white;
  margin-top: 5%;
}

div.decor3 div.smallTxt span{
  font-size: 150%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

/*Body-Donate*/

img.triangle{
    width: 50%;
    height: 100%;
    position: relative;
}

div.donate{
  display: flex;
  align-items: center;
}

div.donate span{
  position: absolute;
  font-size: 500%;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

div.donate span.span2{
  margin-top: 5%;
  margin-left: 9%;
}

div.donate span.span1{
  margin-left: 5%;
}


  /* footer */

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  font-family: 'Montserrat', sans-serif;
}

div.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 7%
}

div.logo img{
  width: 65px;
  height: 50px;
}

div.logo img.pinterest{
  width: 50px;
  height: 50px;
}

footer a.logo-footer{
  margin: 10px 10px 20px 0px;
  margin-right: 7%;
}

img.logo-footer{
  width: 200px;
  height: 90px;
}

div.footer{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.footer a{
  text-decoration: none;
}

/* Responsive */

@media screen and (min-width: 640px) and (max-width: 940px){
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div.logo{
    max-width: none;
    margin: 7% 0%;
  }
  header a.logo img{
    width: 200%;
  }
  header ul li{
    margin-left: 5%;
    font-size: 80%;
  }
  header a.kickstarter img{
    width: 55%;
  }
  header a.kickstarter{
    width: 120px;
    padding:0;
  }
  img.triangle{
    visibility: hidden;
    width: 0%;
  }
  div.donate span.span2{
    visibility: hidden;
    width: 0%;
  }
  div.donate span.span1{
    visibility: hidden;
    width: 0%;
  }
  div.donate video{
    width: 100%;
    height: auto;
  }
  div.donate{
    margin: 0;
    padding: 0;
    height: 45%;
  }
}

@media screen and (max-width: 760px){
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div.logo{
    max-width: none;
    margin: 7% 0%;
  }
  div.footer{
    margin: 0% 3%;
  }
  header ul li{
    margin-left: 5%;
    font-size: 50%;
  }
  header a.kickstarter img{
    width: 55%;
  }
  header a.kickstarter{
    width: 60px;
    padding:0;
  }
  header a.logo img{
    width: 200%;
  }
  img.triangle{
    visibility: hidden;
    width: 0%;
  }
  div.donate span.span2{
    visibility: hidden;
    width: 0%;
  }
  div.donate span.span1{
    visibility: hidden;
    width: 0%;
  }
  div.donate video{
    width: 100%;
    height: auto;
  }
  div.donate{
    margin: 0;
    padding: 0;
    height: 45%;
  }
}
