* {
    margin: 0;
    padding: 0;
  }

/* Header */

header{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: white;
  }
  
  header a.logo{
      width: 20%;
  }
  
  header a.logo img{
      width: 100%;
  }
  
  header ul{
    display: flex;
    flex-direction: row;
  }
  
  header ul li{
    list-style: none;
    font-family: 'Futura';
    font-weight: bold;
    margin-left: 50%;
  }
  
  header ul li a{
    text-decoration: none;
    color: black;
  }
  
  header a.kickstarter img{
    width: 40%;
  }

/* body */

html, body{
    height: 100%;
}


.home{
    position: absolute;
    width: 100%;
    height: 85%;
}
.cache{
    position: relative;
    width: 100%;
    height: 85%;
    z-index: 2;
}

.décor{
    width: 100%;
    height:100%;
}
